* {
margin: 0;
font-family: Arial, sans-serif;
}


nav{
    width: 100%;
    background-color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    gap: 150px;
    position: fixed;

    
   
    
}
button {
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(19, 18, 18);
    border: none;
    cursor: pointer;
}

.input-button {
    width: 200px;
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(255, 253, 253);
    cursor: pointer;
    border-radius: 8px;

}



.logo-top{
    width: 250px;
    height: 100px;
    margin-left: 40px;
}

.logo-moda-hanay {
    width: 650px;
    height: 500px;
    margin-top:130px ;
    margin-left: 30px;
}

.Banner-masculino {
    width: 65%;
    height: 500px;
    margin-top:30px  ;

}

.conteiner1 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin:50px 50px ;
    
}

.conteiner2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.video-bebe {
    max-width: 100%;
    height: 600px;
    margin-top:50px;
    display: flex ;
    justify-content: center;
    
}

.video-bebe {
    background-color: rgb(43, 42, 42);
}

.footer {
  background: #222;
  color: #fff;
  padding: 40px 0;
  margin-top: 50px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #fff;
}
